<div class = "row contact">
  <div class ="container">
    <h3 class = "whiteTxt">Contact Details</h3>
  </div>
</div>
<div class = "row">
  <div class ="container contactBody">
    <div class = "col-lg-6 col-md-6 col-sm-6">
    <address>
      <h4>Balajikandriga - Reva Resorts &amp; Holiday Homes</h4>
      <p>Bheemaneni Farms,K.J. Puram , 
         Palasamudram Mandal, 
         Chittoor Dist. AP - 517599., </p>
      <p>1234567890,0987654321</p>
    </address>
    </div>
    <div class = "col-lg-6 col-md-6 col-sm-6">
    <address>
      <h4>Balajikandriga - Reva Resorts &amp; Holiday Homes</h4>
      <p>Bheemaneni Farms,K.J. Puram , 
         Palasamudram Mandal, 
         Chittoor Dist. AP - 517599., </p>
      <p>1234567890,0987654321</p>
    </address>
    </div>
  </div>
</div>