<div class = "row border">
  <div class = "container">
    <div class = "row footer">
      <div class = "col-lg-4 col-md-4">
        <h2 style="font-weight:bold;">Any Queries / Complaint</h2>
        <h3>1234567890</h3>
      </div>
      <div class = "col-lg-4 col-md-4">
        <h1 class = "footerTxt">have a happy journey</h1>
      </div>
      <div class = "col-lg-4 col-md-4">
        <div class = "col-lg-3 col-md-3"></div>
        <div class = "col-lg-9 col-md-9">
          <ul>
            <li><h4>FAQ</h4></li>
            <li><h4>Terms & conditions</h4></li>
            <li><h4>Feedback</h4></li>
            <li><h4>Contact</h4></li>
            <li><h4>Boarding Places</h4></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div Class = "copyright">@copyright</div>