.navbar-inverse{
    background-color: #e3660c;
    border:none;
    border-radius: 0px;
    color:#fff;
}
.navAlign{
    margin:1em auto;
}
.navFontLeft{
    font-size: 1.3em;
}
.navFontRight{
    font-size:1.25em;
}
span{
    margin-left:1em;
}
a{
    color:#fff;
}
header{overflow: hidden;
    padding: 0px 0px 15px 0px;
    position: relative;
    width: 100%;

}
.header-top {
    background: #e3660c;
    padding: 3px 0 12px 0;
}
.header-bottom {
    margin: 2.7em auto;
    min-height:3em;
}
.btmNav{
    margin: 2em auto;
}
.headerBottom{
    color:#000;
    margin-top: 3.8em;
}
.navbar-default .navbar-brand {
    color: #000;
}
.navbar-default {
    background-color: #fff;
    border-color: #e7e7e7;
    border-bottom: 5px solid #e7e7e7;
}

.navbar-default .navbar-nav>li>a {
    color: #000;
    font-size: 1.2em;
    font-weight: bold;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #fff;
    color: #8c8c8c;
}
.modal-header{
    background-color: transparent;
}
.navbar {
    
    margin-bottom: -38px;
    
}
header{
    padding:0px;
}
.inner-addon {
  position: relative;
  margin-bottom: 0px;
}

/* style glyph */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align glyph */
/*.left-addon .glyphicon  { left:  0px;}*/
.right-addon .glyphicon { right: 0px;}

/* add padding  */
/*.left-addon input  { padding-left:  30px; }*/
.right-addon input { padding-right: 30px; }
.pwdTxt{
    color:#337ab7;
}
#template{
    width:100%;
}