<header>
<div class = "header-top">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="row navAlign">
      <div class = "col-lg-6 col-mg-6 navFontLeft">
        <div class = "col-lg-4 col-md-4"></div>
        <div class = "col-lg-6 col-md-6">
          <i class = "glyphicon glyphicon-earphone"></i>
          - 1234567890, 0987654321
        </div>
      </div>
      <div class = "col-lg-6 col-mg-6 navFontRight">
        <div class = "col-lg-6 col-md-6"></div>
        <div class = "col-lg-6 col-md-6">
          <a href = "#">Login <i class = "glyphicon glyphicon-log-in"></i></a>
          <span><a href = "#">Register <i class = "glyphicon glyphicon-user"></i></a></span>
        </div>
      </div>
    </div>
  </nav>
  </div>
<div class = "header-bottom">
  <nav class = "navbar navbar-default btmNav">
    
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li>
    </ul>
  </div>

  </nav>
</div>
<header>