<div class ="row dashBgImg">
  <div class = "slider">
    <div class = "subSlider">
      <div class = "destForm">
        <div class = "subForm">
          <h3>Online Bus Booking
          </h3>
          <form #form = "ngForm">
            <div class = "row">
              <div class="form-group col-lg-12 col-md-12" >
                <select id="lang" #primaryLang >
                  <option value = "default">Select Origin
                  </option>
                  <option *ngFor = "let lang of languages">{{lang}}
                  </option>
                </select>
              </div>
              <div class="form-group col-lg-12 col-md-12" >
                <select id="lang" #primaryLang >
                  <option value = "default">Select Origin
                  </option>
                  <option *ngFor = "let lang of languages">{{lang}}
                  </option>
                </select>
              </div>
              <div class="form-group col-lg-12 col-md-12 calendar" >
                <input id="datePicker" name="datePicker"
                       placeholder="Journey Date"
                       ngModel
                       bsDatepicker
                       [minDate]="minDate"
                       [placement]="placement"
                       [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
                       [bsConfig]="bsConfig">
              </div>
              <div class="form-group col-lg-12 col-md-12 calendar" >
                <input id="datePicker1"  name="datePicker"
                       placeholder="Return Date (Optional)"
                       ngModel
                       bsDatepicker
                       [minDate]="minDate"
                       [placement]="placement"
                       [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }">
              </div>
            </div>
          </form>
          <div class = "container">
            <button class = "btn btn-lg searchBtn" type="submit" value = "submit">Search
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class = "about">
  <div class = "container">
    <div class = "row">
      <div class = "col-lg-5 col-md-5">
      </div>
      <div class = "col-lg-7 col-md-7">
      </div>
    </div>
    <div class = "row">
    </div>
  </div>
</div>
